Repository armurox/recipe_generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, eslint, prettier

ty:
  name: ty type check
  entry: bash -c 'cd backend && uv run ty check'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint --max-warnings 0'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx}"'
  language: system
  pass_filenames: false

Add feedback consent flag to User model with full-stack UI
  backend/apps/users/api.py
  backend/apps/users/migrations/0002_user_feedback_consent_and_more.py
  backend/apps/users/models.py
  backend/apps/users/schemas.py
  backend/tests/factories.py
  backend/tests/test_users.py
  frontend/src/app/(app)/layout.tsx
  frontend/src/app/(app)/settings/page.tsx
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/components/consent-banner.tsx
  frontend/src/types/api.ts
Due: ty, eslint, prettier

Register User model in Django admin with feedback consent filters
  backend/apps/users/admin.py
Due: ty

Admin panel added also
  .github/workflows/claude-code-review.yml
  mockups/dashboard.html
  mockups/login.html
  mockups/register.html
Due: none

Add feedback_consent to mock user fixture
  frontend/src/test/mocks/fixtures.ts
Due: eslint, prettier

Add feedback_consent to E2E mock user to prevent banner overlay
  frontend/e2e/helpers/mock-api.ts
Due: none

Add django-unfold admin theme with green palette and command-k search
  backend/apps/users/admin.py
  backend/config/settings/base.py
  backend/pyproject.toml
  backend/uv.lock
Due: ty

Add bulk-create pantry endpoint and shopping list feature
  backend/apps/pantry/api.py
  backend/apps/pantry/migrations/0002_alter_pantryitem_status.py
  backend/apps/pantry/models.py
  backend/apps/pantry/schemas.py
  backend/tests/test_pantry.py
  frontend/e2e/helpers/mock-api.ts
  frontend/e2e/pantry-crud.spec.ts
  frontend/src/app/(app)/pantry/_components/add-item-dialog.test.tsx
  frontend/src/app/(app)/pantry/_components/add-item-dialog.tsx
  frontend/src/app/(app)/pantry/_components/category-group.tsx
  frontend/src/app/(app)/pantry/_components/pantry-filters.tsx
  frontend/src/app/(app)/pantry/_components/pantry-item-row.tsx
  frontend/src/app/(app)/pantry/page.tsx
  frontend/src/hooks/use-pantry.ts
  frontend/src/test/mocks/fixtures.ts
  frontend/src/test/mocks/handlers.ts
  frontend/src/types/api.ts
Due: ty, eslint, prettier

Add shopping list refinements: cart icon, buy flow, and auto-expiry
  backend/apps/pantry/api.py
  backend/apps/pantry/schemas.py
  backend/tests/test_pantry.py
  frontend/e2e/helpers/mock-api.ts
  frontend/e2e/shopping-list.spec.ts
  frontend/src/app/(app)/pantry/_components/add-item-dialog.test.tsx
  frontend/src/app/(app)/pantry/_components/add-item-dialog.tsx
  frontend/src/app/(app)/pantry/_components/pantry-filters.tsx
  frontend/src/app/(app)/pantry/page.tsx
  frontend/src/hooks/use-pantry.ts
  frontend/src/types/api.ts
Due: ty, eslint, prettier

Add shared shopping cart link to dashboard header
  frontend/src/app/(app)/dashboard/page.tsx
  frontend/src/app/(app)/pantry/page.tsx
  frontend/src/components/shopping-cart-link.tsx
Due: eslint, prettier

Rename "Scan Receipt" to "Scan Items" across the app
  frontend/src/app/(app)/dashboard/_components/quick-actions.tsx
  frontend/src/app/(app)/pantry/page.tsx
  frontend/src/app/(app)/recipes/page.tsx
  frontend/src/app/(app)/scan/page.tsx
Due: eslint, prettier

Fix search placeholder to say "Search shopping list" in shopping view
  frontend/src/app/(app)/pantry/_components/pantry-search.tsx
  frontend/src/app/(app)/pantry/page.tsx
Due: eslint, prettier

Update scan tips to cover both receipts and food items
  frontend/src/app/(app)/scan/page.tsx
Due: eslint, prettier

Broaden Claude Vision prompt to handle receipts, food labels, and pantry photos
  backend/apps/receipts/services/claude_ocr.py
Due: ty

Make add item dialog more compact and prevent mobile auto-zoom
  frontend/src/app/(app)/pantry/_components/add-item-dialog.test.tsx
  frontend/src/app/(app)/pantry/_components/add-item-dialog.tsx
Due: eslint, prettier

Add mobile zoom prevention rule to CLAUDE.md and update mockups
  CLAUDE.md
  mockups/dashboard.html
  mockups/pantry.html
  mockups/scan.html
Due: none

Minor improvement on category being provided
  backend/apps/pantry/services.py
Due: ty

Fix timeout
  frontend/src/hooks/use-receipts.ts
  frontend/src/lib/api.ts
Due: eslint, prettier

Add editable store name on scan review and update default text
  backend/apps/receipts/api.py
  backend/apps/receipts/schemas.py
  frontend/src/app/(app)/scan/[scanId]/page.tsx
  frontend/src/app/(app)/scan/_components/recent-scans.tsx
  frontend/src/hooks/use-receipts.ts
  frontend/src/types/api.ts
Due: ty, eslint, prettier

Fix 404 on scan PATCH by removing trailing slash from URL
  frontend/src/hooks/use-receipts.ts
Due: eslint, prettier

Update CLAUDE.md trailing slash rule with precise route-matching guidance
  CLAUDE.md
Due: none

Add optimistic update for scan store name edits
  frontend/src/hooks/use-receipts.ts
Due: eslint, prettier

Fix service worker killing cross-origin requests after 10 seconds
  frontend/src/sw.ts
Due: eslint, prettier

Update scan processing text from "receipt" to "scan"
  frontend/src/app/(app)/scan/_components/scan-processing.tsx
Due: eslint, prettier

Path conditions:
  ty: any of: ^backend/
  eslint: any of: ^frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/src/.*\.(ts|tsx)$
